includes:
    - vendor/larastan/larastan/extension.neon
parameters:

    paths:
        - core/src
        - ids/src
        - messageStorage/src
        - tasks/src


    # Level 9 is the highest level
    level: 7
    ignoreErrors:
        #- '#Method [a-zA-Z0-9\\_]++::toPayload\(\) return type has no value type specified in iterable type array#'
        #- '#Method [a-zA-Z0-9\\_]++::fromPayload\(\) has parameter \$payload with no value type specified in iterable type array#'
        #- '#Method [a-zA-Z0-9\\_]++::apply++[a-zA-Z0-9\\_]++\(\) is unused#'
