includes:
    - vendor/larastan/larastan/extension.neon
parameters:

    paths:
        - core/src
        - ids/src
        - messageStorage/src
        - tasks/src


    # Level 9 is the highest level
    level: 9

